# Created by .ignore support plugin (hsz.mobi)
.idea
java-mq.iml
chapter01_java/chapter01_java.iml
chapter01_java/target
chapter02_activemq/chapter02_activemq.iml
chapter02_activemq/target
chapter03_rabbitmq/chapter03_rabbitmq.iml
chapter03_rabbitmq/target
chapter04_rocketmq/chapter04_rocketmq.iml
chapter04_rocketmq/target
chapter05_kafka/chapter05_kafka.iml
chapter05_kafka/target
